.home-container{
    background-color: rgba(179, 255, 0, 0);
    height: 100%;
    overflow: hidden;

    display: grid;
    grid-template-rows: 0.3fr auto 0.3fr;
    row-gap: 5px;
    padding: 5px;

    box-sizing: border-box;
}

h2 {
    background-color: rgba(238, 130, 238, 0);
    color: white;
    margin: 0px;
    padding: 0px;
    font-size: 2rem;
    font-style: italic;
    font-weight: 400;

    display: flex;
    justify-content: left;
    align-items: center;
}

/* --- INTRODUÇÃO --- */
.intro {
    background-color: rgba(255, 0, 0, 0);
    border-radius: 19px;
    box-sizing: border-box;
    padding: 5px;

    display: grid;
    grid-template-rows: 1fr 2fr;
    row-gap: 5px;
    
}

.intro h1 {
    background-color: #ee0c0c00;
    color: white;
    margin: 0px;
    padding: 0px;
    font-size: 4rem;
    font-style: oblique;
    font-weight: 800;

    display: flex;
    justify-content: left;
    align-items: center;
}

.objetivo {
    background-color: #000000 ;
    border: 1px solid #575656;
    border-radius: 14px;
    padding: 10px;

    display: flex;
    flex-direction: column;
    gap: 20px;
}

.objetivo p {
    color: rgb(255, 255, 255);
    font-size: 1.1rem;
    font-weight: 200;
    text-align: justify;
    line-height: 1.3;
    margin: 0px ;

    display: flex;
    align-items: center;
    
}

/* --- SOBRE MIM ---*/
.text-box {
    background-color: rgba(137, 43, 226, 0);
    border-radius: 19px;
    box-sizing: border-box;
    padding: 5px;

    display: grid;
    grid-template-rows: 1fr 4fr;
    row-gap: 5px;
}

.about {
    background-color: #000000;
    border: 1px solid #575656;
    border-radius: 14px;
    padding: 10px;

    display: flex;
    flex-direction: column;
    gap: 20px;

}

.about p {
    font-size: 1.1rem;
    font-weight: 200;
    text-align: justify;
    color: #ffffff;
    line-height: 1.3;
    margin: 0px;

    display: flex;
    align-items: center;
}


/* --- PROJETOS DESTAQUE ---*/
.highlight-projects {
    background-color: rgba(165, 42, 42, 0);
    border-radius: 19px;
    box-sizing: border-box;
    padding: 5px;

    display: grid;
    grid-template-rows: 1fr 4fr;
    row-gap: 5px;
}


.home-projects {
    background-color: black;
    border: 1px solid #575656;
    border-radius: 14px;
    box-sizing: border-box;
    padding: 10px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
}

